body{
    background-image: url(img/Background.png);  
}

.sitewrap{
    padding-top: 2%;
}

.content{
	flex-grow: 1;
	display: flex;
	color: rgb(6, 8, 41);
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 100;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-size: 150%;
}

.content h1{
    background-color:antiquewhite;
}


.special{
	color: black;
	width: 100%;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
    padding-left: 1%;
    /* padding-right: 1%; */
}

.flex-container{
    
    display: flex;
	flex-wrap:wrap;
    justify-content: center;

}

.media{
    background-color:rgb(26, 25, 44);
	width: 25%;
    border-radius: 5%;
    margin: 2%;
}

.media img{
    max-width: 75%;
    padding-top: 5%;
}

.media h5{
    margin-top: 2%;
    color: azure;
}


@media(max-width: 990px){
    .flex-container{
        display: flex;
        color: rgb(6, 8, 41);
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        font-size: 50%;
    }

    .media{
        background-color: rgb(26, 25, 44);
        width: 50%;
        border-radius: 5%;
        margin: 2%;
    }
    
    .media img{
        max-width: 75%;
        padding-top: 5%;
    }
    
}