.body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


.MainNews
{
    background-color: rgb(26, 25, 44);
    max-width: 15%;
    padding: 2%;
    border-radius: 5%;
    
    display: inline-block;
    margin: 2%;
    min-width: 30%;
    min-height: 40%;
    

}

.MainNews img
{
    justify-content: center;
	align-items: center;
	flex-direction: column;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;  
}

.OtherNews
{
    background-color: rgb(26, 25, 44);
    max-width: 19%;
    padding: 2%;
    border-radius: 5%;
    width: 50%;
    display: inline-block;
    margin: 1%;
    
}

.OtherNews img
{
    display: inline-block;
    max-width: 100%;
    max-height: 100%;  

    top: 100;
}